<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/styles/menu.css" />
    <title>Easy Dog Training</title>
    <style>
      /* body {
        background-image: url("/styles/images/viszla full.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin: 0;
      } */
    </style>
  </head>
  <body>
    <div class="logo-wrap">
      <img
        src="/styles/images/EDT logo transparent3-min white.png"
        alt="logo"
      />
    </div>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Why Easy Dog</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- TEMP -->
    <!-- <div class="wide-menu-wrap">
      <ul>
        <li class="wide"><a href="#">Home</a></li>
        <li class="wide"><a href="#">About</a></li>
        <li class="wide"><a href="#">Why Easy Dog</a></li>
        <li class="wide"><a href="#">Testimonials</a></li>
        <li class="wide"><a href="#">Services</a></li>
        <li class="wide"><a href="#">Contact</a></li>
      </ul>
    </div> -->

    <header class="showcase">
      <div class="container-showcase-inner">
        <!-- <h1>Welcome</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea mollitia
          hic temporibus alias deserunt laudantium totam eveniet, sequi nam
          nostrum?
        </p>
        <a href="#" class="btn">Read More</a> -->
      </div>
    </header>
  </body>
</html>
